In [162]:
!pip install -r ../requirements.txt

19361.37s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: lets-plot==4.3.3 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 1)) (4.3.3)
Requirement already satisfied: numerize==0.12 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 2)) (0.12)
Requirement already satisfied: numpy<2 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 3)) (1.26.4)
Requirement already satisfied: pandas==2.2.2 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 4)) (2.2.2)
Requirement already satisfied: requests==2.32.3 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 5)) (2.32.3)
Requirement already satisfied: Scrapy==2.11.2 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 6)) (2.11.2)
Requirement already satisfied: selenium==4.22.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 7)) (4.22.0)
Requirement already satisfied: tqdm==4.66.4 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 8)) (4.66.4)
Requirement already satisfied: ipywidgets==8.1.3 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from -r ../requirements.txt (line 9)) (8.1.3)
Collecting jupysql (from -r ../requirements.txt (line 10))
  Downloading jupysql-0.10.12-py3-none-any.whl.metadata (5.6 kB)
Collecting sqlalchemy (from -r ../requirements.txt (line 11))
  Downloading SQLAlchemy-2.0.31-cp311-cp311-macosx_10_9_x86_64.whl.metadata (9.6 kB)
Requirement already satisfied: pypng in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from lets-plot==4.3.3->-r ../requirements.txt (line 1)) (0.20220715.0)
Requirement already satisfied: palettable in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from lets-plot==4.3.3->-r ../requirements.txt (line 1)) (3.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 4)) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 4)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 4)) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from requests==2.32.3->-r ../requirements.txt (line 5)) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from requests==2.32.3->-r ../requirements.txt (line 5)) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from requests==2.32.3->-r ../requirements.txt (line 5)) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from requests==2.32.3->-r ../requirements.txt (line 5)) (2024.7.4)
Requirement already satisfied: Twisted>=18.9.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (24.3.0)
Requirement already satisfied: cryptography>=36.0.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (43.0.0)
Requirement already satisfied: cssselect>=0.9.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (1.2.0)
Requirement already satisfied: itemloaders>=1.0.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (1.3.1)
Requirement already satisfied: parsel>=1.5.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (1.9.1)
Requirement already satisfied: pyOpenSSL>=21.0.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (24.2.1)
Requirement already satisfied: queuelib>=1.4.2 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (1.7.0)
Requirement already satisfied: service-identity>=18.1.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (24.1.0)
Requirement already satisfied: w3lib>=1.17.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (2.2.1)
Requirement already satisfied: zope.interface>=5.1.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (6.4.post2)
Requirement already satisfied: protego>=0.1.15 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (0.3.1)
Requirement already satisfied: itemadapter>=0.1.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (0.9.0)
Requirement already satisfied: setuptools in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (69.5.1)
Requirement already satisfied: packaging in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (24.1)
Requirement already satisfied: tldextract in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (5.1.2)
Requirement already satisfied: lxml>=4.4.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (5.2.2)
Requirement already satisfied: defusedxml>=0.7.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (0.7.1)
Requirement already satisfied: PyDispatcher>=2.0.5 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Scrapy==2.11.2->-r ../requirements.txt (line 6)) (2.0.7)
Requirement already satisfied: trio~=0.17 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from selenium==4.22.0->-r ../requirements.txt (line 7)) (0.26.0)
Requirement already satisfied: trio-websocket~=0.9 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from selenium==4.22.0->-r ../requirements.txt (line 7)) (0.11.1)
Requirement already satisfied: typing_extensions>=4.9.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from selenium==4.22.0->-r ../requirements.txt (line 7)) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from selenium==4.22.0->-r ../requirements.txt (line 7)) (1.8.0)
Requirement already satisfied: comm>=0.1.3 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (8.26.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.11 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (3.0.11)
Collecting prettytable (from jupysql->-r ../requirements.txt (line 10))
  Downloading prettytable-3.10.2-py3-none-any.whl.metadata (30 kB)
Collecting sqlparse (from jupysql->-r ../requirements.txt (line 10))
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Collecting ipython-genutils>=0.1.0 (from jupysql->-r ../requirements.txt (line 10))
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting jinja2 (from jupysql->-r ../requirements.txt (line 10))
  Downloading jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Collecting sqlglot>=11.3.7 (from jupysql->-r ../requirements.txt (line 10))
  Downloading sqlglot-25.7.0-py3-none-any.whl.metadata (19 kB)
Collecting jupysql-plugin>=0.4.2 (from jupysql->-r ../requirements.txt (line 10))
  Downloading jupysql_plugin-0.4.4-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql->-r ../requirements.txt (line 10))
  Downloading ploomber_core-0.2.25-py3-none-any.whl.metadata (536 bytes)
Collecting ploomber-extension (from jupysql->-r ../requirements.txt (line 10))
  Downloading ploomber_extension-0.1.1-py3-none-any.whl.metadata (7.5 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy->-r ../requirements.txt (line 11))
  Downloading greenlet-3.0.3.tar.gz (182 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 182.0/182.0 kB 4.2 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: cffi>=1.12 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from cryptography>=36.0.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (1.16.0)
Requirement already satisfied: decorator in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (2.18.0)
Requirement already satisfied: stack-data in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (4.9.0)
Requirement already satisfied: jmespath>=0.9.5 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from itemloaders>=1.0.1->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (1.0.1)
Collecting pyyaml (from ploomber-core>=0.2.7->jupysql->-r ../requirements.txt (line 10))
  Downloading PyYAML-6.0.1-cp311-cp311-macosx_10_9_x86_64.whl.metadata (2.1 kB)
Collecting posthog (from ploomber-core>=0.2.7->jupysql->-r ../requirements.txt (line 10))
  Downloading posthog-3.5.0-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: six>=1.5 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->-r ../requirements.txt (line 4)) (1.16.0)
Requirement already satisfied: attrs>=19.1.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from service-identity>=18.1.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (23.2.0)
Requirement already satisfied: pyasn1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from service-identity>=18.1.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (0.6.0)
Requirement already satisfied: pyasn1-modules in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from service-identity>=18.1.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (0.4.0)
Requirement already satisfied: sortedcontainers in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from trio~=0.17->selenium==4.22.0->-r ../requirements.txt (line 7)) (2.4.0)
Requirement already satisfied: outcome in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from trio~=0.17->selenium==4.22.0->-r ../requirements.txt (line 7)) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from trio~=0.17->selenium==4.22.0->-r ../requirements.txt (line 7)) (1.3.1)
Requirement already satisfied: wsproto>=0.14 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from trio-websocket~=0.9->selenium==4.22.0->-r ../requirements.txt (line 7)) (1.2.0)
Requirement already satisfied: automat>=0.8.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Twisted>=18.9.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (22.10.0)
Requirement already satisfied: constantly>=15.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Twisted>=18.9.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (23.10.4)
Requirement already satisfied: hyperlink>=17.1.1 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Twisted>=18.9.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (21.0.0)
Requirement already satisfied: incremental>=22.10.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from Twisted>=18.9.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (22.10.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from urllib3[socks]<3,>=1.26->selenium==4.22.0->-r ../requirements.txt (line 7)) (1.7.1)
Collecting MarkupSafe>=2.0 (from jinja2->jupysql->-r ../requirements.txt (line 10))
  Downloading MarkupSafe-2.1.5-cp311-cp311-macosx_10_9_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: wcwidth in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from prettytable->jupysql->-r ../requirements.txt (line 10)) (0.2.13)
Requirement already satisfied: requests-file>=1.4 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from tldextract->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (2.1.0)
Requirement already satisfied: filelock>=3.0.8 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from tldextract->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (3.15.4)
Requirement already satisfied: pycparser in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=36.0.0->Scrapy==2.11.2->-r ../requirements.txt (line 6)) (2.22)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.7.0)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium==4.22.0->-r ../requirements.txt (line 7)) (0.14.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql->-r ../requirements.txt (line 10))
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql->-r ../requirements.txt (line 10))
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: executing>=1.2.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (2.4.1)
Requirement already satisfied: pure-eval in /Users/jessicahyne/opt/miniconda3/envs/gymternet/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets==8.1.3->-r ../requirements.txt (line 9)) (0.2.3)
Downloading jupysql-0.10.12-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.9/95.9 kB 3.0 MB/s eta 0:00:00
Downloading SQLAlchemy-2.0.31-cp311-cp311-macosx_10_9_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 13.8 MB/s eta 0:00:00a 0:00:01
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading jupysql_plugin-0.4.4-py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 249.8/249.8 kB 8.3 MB/s eta 0:00:00
Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Downloading sqlglot-25.7.0-py3-none-any.whl (392 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 392.9/392.9 kB 11.1 MB/s eta 0:00:00
Downloading jinja2-3.1.4-py3-none-any.whl (133 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.3/133.3 kB 4.2 MB/s eta 0:00:00
Downloading ploomber_extension-0.1.1-py3-none-any.whl (193 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.1/193.1 kB 7.2 MB/s eta 0:00:00
Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 1.5 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp311-cp311-macosx_10_9_x86_64.whl (14 kB)
Downloading posthog-3.5.0-py2.py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.3/41.3 kB 346.5 kB/s eta 0:00:000:01
Downloading PyYAML-6.0.1-cp311-cp311-macosx_10_9_x86_64.whl (187 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 187.9/187.9 kB 4.0 MB/s eta 0:00:00:00:01
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Building wheels for collected packages: greenlet
  Building wheel for greenlet (pyproject.toml) ... done
  Created wheel for greenlet: filename=greenlet-3.0.3-cp311-cp311-macosx_10_9_x86_64.whl size=214578 sha256=ee9964b84c7f2cd28c0bf15fe4a88adfacb0decff50fbbaff859d47d6b5a1560
  Stored in directory: /Users/jessicahyne/Library/Caches/pip/wheels/56/08/ca/e0bd72a4cd850a40d2a51ee67fbd2f3efe5332fe5fe00e2c53

In [163]:
import os
import json
import requests

import sqlite3
from tqdm.notebook import tqdm, trange
tqdm.pandas()


import numpy as np
import pandas as pd 


from tqdm.notebook import tqdm
from pprint import pprint as print

In [149]:
teams_df = pd.read_pickle('../Data/Raw/dirty_dfs/teams_df.pkl')
meets_df = pd.read_pickle('../Data/Raw/dirty_dfs/meets_df.pkl')
gymnasts_data_df = pd.read_pickle('../Data/Raw/dirty_dfs/gymnasts_data_df.pkl')
team_results_data_df = pd.read_pickle('../Data/Raw/dirty_dfs/team_results_data_df.pkl')

# Clean up `teams_df` and create `Teams.db`

What I want in this table in my database is:

| **team_id** | **team_name** | **team_url**                           |
|-------------|---------------|----------------------------------------|
| 1           | 'Auburn'      | "https://www.roadtonationals/team/645" | 


etc.

The `team_id` column should act as the primary key.

In [150]:
# Preview the dataframe
#teams_df.dtypes
teams_df.head()

,team_name,team_id,year,team_url
0,LSU,34,2024,https://www.roadtonationals.com/api/women/dash...
1,California,15,2024,https://www.roadtonationals.com/api/women/dash...
2,Utah,69,2024,https://www.roadtonationals.com/api/women/dash...
3,Florida,22,2024,https://www.roadtonationals.com/api/women/dash...
4,Stanford,61,2024,https://www.roadtonationals.com/api/women/dash...

This dataframe is already pretty tidy, but the links are pointing towards the API, which is not what we want, and we still have an irrelevant column (`year`)

In [151]:
base_team_url = 'https://roadtonationals.com/results/teams/dashboard'
teams_df['team_url'] = teams_df.apply(lambda x: f'{str(base_team_url)}/{str(x["year"])}/{str(x["team_id"])}', axis=1)

In [139]:
# Preview the df
teams_df.head()

,team_name,team_id,year,team_url
0,LSU,34,2024,https://roadtonationals.com/results/teams/dash...
1,California,15,2024,https://roadtonationals.com/results/teams/dash...
2,Utah,69,2024,https://roadtonationals.com/results/teams/dash...
3,Florida,22,2024,https://roadtonationals.com/results/teams/dash...
4,Stanford,61,2024,https://roadtonationals.com/results/teams/dash...

In [160]:
# Drop the year column
teams_df.drop(columns='year', inplace=True)
teams_df.head()

    team_name  team_id                                           team_url
0         LSU       34  https://roadtonationals.com/results/teams/dash...
1  California       15  https://roadtonationals.com/results/teams/dash...
2        Utah       69  https://roadtonationals.com/results/teams/dash...
3     Florida       22  https://roadtonationals.com/results/teams/dash...
4    Stanford       61  https://roadtonationals.com/results/teams/dash...

               team_name                                           team_url
team_id
34                   LSU  https://roadtonationals.com/results/teams/dash...
15            California  https://roadtonationals.com/results/teams/dash...
69                  Utah  https://roadtonationals.com/results/teams/dash...
22               Florida  https://roadtonationals.com/results/teams/dash...
61              Stanford  https://roadtonationals.com/results/teams/dash...
...                  ...                                                ...
164                Utica  https://roadtonationals.com/results/teams/dash...
155              Simpson  https://roadtonationals.com/results/teams/dash...
26               Hamline  https://roadtonationals.com/results/teams/dash...
57       Seattle Pacific  https://roadtonationals.com/results/teams/dash...
67                   UIC  https://roadtonationals.com/results/teams/dash...

[89 rows x 2 columns]

In [156]:
final_teams_df = final_teams_df.reset_index()
final_teams_df

,index,team_id,team_name,team_url
0,0,34,LSU,https://roadtonationals.com/results/teams/dash...
1,1,15,California,https://roadtonationals.com/results/teams/dash...
2,2,69,Utah,https://roadtonationals.com/results/teams/dash...
3,3,22,Florida,https://roadtonationals.com/results/teams/dash...
4,4,61,Stanford,https://roadtonationals.com/results/teams/dash...
...,...,...,...,...
84,84,164,Utica,https://roadtonationals.com/results/teams/dash...
85,85,155,Simpson,https://roadtonationals.com/results/teams/dash...
86,86,26,Hamline,https://roadtonationals.com/results/teams/dash...
87,87,57,Seattle Pacific,https://roadtonationals.com/results/teams/dash...
88,88,67,UIC,https://roadtonationals.com/results/teams/dash...

In [3]:
# Read the teams data json files into a dataframe

# Create an empty dataframe
years = [2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015] # These are the years that we are interested in evaluating
teams_data_df = pd.DataFrame()

# For every year, load the data from the json file and append to the dataframe
for year in years:
    filename = f'../Data/Raw/teams/{year}_teams.json'

    # Read the json file into a temporary df
    temp_df = pd.read_json(filename)
    temp_df['year'] = year

    # Append the temporary df to the main df
    teams_data_df = pd.concat([teams_data_df, temp_df])


teams_data_df = teams_data_df.reset_index(drop=True)
teams_df = pd.json_normalize(teams_data_df['data']).reset_index(drop=True)
teams_df['year'] = teams_data_df['year']

In [4]:
teams_df

,rank,team_name,team_id,ncaa_final,ncaa,nqs,regionals,rqs,division_id,average_score,high_score,year
0,1,LSU,34,198.225,198.113,396.465,198.250,198.215,1,197.908,198.475,2024
1,2,California,15,197.850,197.713,396.455,198.275,198.180,1,197.833,198.550,2024
2,3,Utah,69,197.800,197.938,395.470,197.575,197.895,1,197.704,198.300,2024
3,4,Florida,22,197.438,197.875,396.230,198.325,197.905,1,197.670,198.225,2024
4,5,Stanford,61,None,197.075,394.620,197.575,197.045,1,196.563,197.975,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
803,78,Hamline,26,None,None,None,None,184.345,3,182.275,187.100,2015
804,79,UW-Eau Claire,77,None,None,None,None,184.155,3,169.692,187.850,2015
805,80,UW-Oshkosh,79,None,None,None,None,183.930,3,155.261,188.325,2015
806,81,Gustavus Adolphus,25,None,None,None,None,178.820,3,153.094,180.200,2015
807,82,Rhode Island College,52,None,None,None,None,178.100,3,176.558,180.100,2015

In [5]:
# Drop the columns that we are not interested in
teams_df = teams_df.drop(columns=['rank', 'ncaa_final', 'nqs', 'regionals', 'rqs', 'division_id', 'average_score', 'high_score', 'ncaa'])

In [6]:
# Preview the df
teams_df.head()

    team_name team_id  year
0         LSU      34  2024
1  California      15  2024
2        Utah      69  2024
3     Florida      22  2024
4    Stanford      61  2024

In [7]:
# Determine the link to access the team's dashboard
base_team_url = 'https://www.roadtonationals.com/api/women/dashboard'

# Add the team links to the team_url column
teams_df['team_url'] = teams_df.apply(lambda x: f'{base_team_url}/{str(x["year"])}/{str(x["team_id"])}', axis=1)

In [8]:
# Preview the df - this looks good to work with now
teams_df.head()

    team_name team_id  year                                           team_url
0         LSU      34  2024  https://www.roadtonationals.com/api/women/dash...
1  California      15  2024  https://www.roadtonationals.com/api/women/dash...
2        Utah      69  2024  https://www.roadtonationals.com/api/women/dash...
3     Florida      22  2024  https://www.roadtonationals.com/api/women/dash...
4    Stanford      61  2024  https://www.roadtonationals.com/api/women/dash...

In [50]:
# Read the json files into a meets dataframe

# Create an empty dataframe
team_ids = teams_df['team_id'].tolist()
meets_data_df = pd.DataFrame()

with open(filename) as data_file:    
    data = json.load(data_file)  


# For every year, load the data from the json file and append to the dataframe
for year in years:
    for team in team_ids:
        filename = f'../Data/Raw/meets/{year}_{team}_meets.json'

        with open(filename) as data_file:    
            data = json.load(data_file) 

            # Read the json file into a temporary df
            temp_df = pd.json_normalize(data, 'meets')
            temp_df['year'] = year
            temp_df['team_id'] = team

            # Append the temporary df to the main df
            meets_data_df = pd.concat([meets_data_df, temp_df])


meets_data_df = meets_data_df.reset_index(drop=True)

In [51]:
# Preview the df
meets_data_df.sort_values(by='meet_id', ascending=False).head()

,team_id,team_name,meet_id,meet_date,team_score,home,opponent,meet_desc,linked_id,jas,year
9668,69,Utah,30231,"Sat, Apr-20-2024",197.8000,A,"California, Florida, LSU",NCAA Championships Finals,6392,,2024
4308,69,Utah,30231,"Sat, Apr-20-2024",197.8000,A,"California, Florida, LSU",NCAA Championships Finals,6392,,2024
48,69,Utah,30231,"Sat, Apr-20-2024",197.8000,A,"California, Florida, LSU",NCAA Championships Finals,6392,,2024
7558,69,Utah,30231,"Sat, Apr-20-2024",197.8000,A,"California, Florida, LSU",NCAA Championships Finals,6392,,2024
2311,69,Utah,30231,"Sat, Apr-20-2024",197.8000,A,"California, Florida, LSU",NCAA Championships Finals,6392,,2024

In [52]:
meets_df['meet_url'] = meets_df['meet_id'].apply(lambda x: f"{results_url_root}{str(x)}")
meets_df.set_index('meet_url').head()

/var/folders/f6/yc2mppq57tq4fjfn7hmfsy0c0000gn/T/ipykernel_9390/728444949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meets_df['meet_url'] = meets_df['meet_id'].apply(lambda x: f"{results_url_root}{str(x)}")

,team_id,team_name,meet_id,meet_date,team_score,home,opponent,meet_desc,linked_id,jas,year,team_opponent,all_teams
meet_url,,,,,,,,,,,,,
https://www.roadtonationals.com/api/women/meetresults/28977,34,LSU,28977,"Fri, Jan-05-2024",196.9750,H,Ohio State,,5986,,2024,"[LSU, Ohio State]","(LSU, Ohio State)"
https://www.roadtonationals.com/api/women/meetresults/29040,34,LSU,29040,"Sat, Jan-13-2024",197.1500,A,"Oklahoma, UCLA, Utah",Sprouts Farmers Market Collegiate Quad,6011,,2024,"[LSU, Oklahoma, UCLA, Utah]","(LSU, Oklahoma, UCLA, Utah)"
https://www.roadtonationals.com/api/women/meetresults/29098,34,LSU,29098,"Fri, Jan-19-2024",198.1250,H,Kentucky,,6030,,2024,"[LSU, Kentucky]","(Kentucky, LSU)"
https://www.roadtonationals.com/api/women/meetresults/29215,34,LSU,29215,"Fri, Jan-26-2024",197.2250,A,Missouri,,6078,,2024,"[LSU, Missouri]","(LSU, Missouri)"
https://www.roadtonationals.com/api/women/meetresults/29303,34,LSU,29303,"Fri, Feb-02-2024",198.4750,H,Arkansas,,6111,,2024,"[LSU, Arkansas]","(Arkansas, LSU)"

In [55]:
# Create a new column that stores the team name and the opponent names as a sorted list
meets_data_df['all_teams'] = meets_data_df.apply(lambda x: [x['team_name']] + x['opponent'].split(', '), axis=1)

meets_data_df['all_teams'] = meets_data_df['all_teams'].apply(lambda x: sorted(x))

meets_data_df['all_teams'] = meets_data_df['all_teams'].apply(tuple)

meets_data_df

# Drop duplicates (when all_teams and meet_date column are identical, they are duplicates)
meets_df = meets_data_df.drop_duplicates(subset=['all_teams', 'meet_date'])

len(meets_df)

3614

In [96]:
# Read the json files into a results dataframe
meet_ids = meets_df['meet_id'].tolist()

# Create an empty dataframe
team_results_data_df = pd.DataFrame()
gymnasts_data_df = pd.DataFrame()

# with open(filename) as data_file:    
#     data = json.load(data_file)  


# For every meet, load the data from the results json file and append to the dataframe
for meet_id in meet_ids:
    filename = f'../Data/Raw/results/{meet_id}_results.json'

    if os.path.exists(filename):
        if os.path.getsize(filename) == 0:
            print(f"File {filename} is empty.")
            continue

        try:
            with open(filename) as data_file:
                data = json.load(data_file)
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON from file {filename}: {e}")
            continue

        # Read the json file into temporary dataframes
        temp_team_df = pd.json_normalize(data, 'teams')

        # Normalising the scores data
        scores_data = data['scores']

        # Flatten the nested structure
        # Since 'scores' is a list of lists, we need to flatten it first
        flattened_scores = [item for sublist in scores_data for item in sublist]

        # Create DataFrame
        temp_gymnast_df = pd.json_normalize(flattened_scores)
        temp_gymnast_df['meet_id'] = meet_id

        # Append the temporary dataframes to the main dataframes
        team_results_data_df = pd.concat([team_results_data_df, temp_team_df])
        gymnasts_data_df = pd.concat([gymnasts_data_df, temp_gymnast_df])
    
    else:
        print(f"File {filename} does not exist.")
        continue

# Reset index for the final dataframes
team_results_data_df = team_results_data_df.reset_index(drop=True)
gymnasts_data_df = gymnasts_data_df.reset_index(drop=True)

('Error decoding JSON from file ../Data/Raw/results/27977_results.json: '
 'Expecting value: line 1 column 1 (char 0)')
('Error decoding JSON from file ../Data/Raw/results/26843_results.json: '
 'Expecting value: line 1 column 1 (char 0)')
('Error decoding JSON from file ../Data/Raw/results/24822_results.json: '
 'Expecting value: line 1 column 1 (char 0)')
('Error decoding JSON from file ../Data/Raw/results/21326_results.json: '
 'Expecting value: line 1 column 1 (char 0)')
('Error decoding JSON from file ../Data/Raw/results/20001_results.json: '
 'Expecting value: line 1 column 1 (char 0)')
('Error decoding JSON from file ../Data/Raw/results/19660_results.json: '
 'Expecting value: line 1 column 1 (char 0)')
('Error decoding JSON from file ../Data/Raw/results/20016_results.json: '
 'Expecting value: line 1 column 1 (char 0)')

In [97]:
# Preview the dataframes
team_results_data_df

# This one looks ok!

,mid,tid,tname,vault,bars,beam,floor,tscore,year,home,lead
0,28977,34,LSU,49.3750,49.3750,48.7000,49.5250,196.9750,2024,H,0.000
1,28978,46,Ohio State,49.3000,49.1250,49.0500,49.3000,196.7750,2024,A,0.200
2,29039,47,Oklahoma,49.4500,49.4500,49.5250,49.4750,197.9000,2024,A,0.000
3,29040,34,LSU,49.2250,49.6500,48.7500,49.5250,197.1500,2024,A,0.750
4,29042,66,UCLA,49.4000,49.2500,49.2500,49.2000,197.1000,2024,A,0.800
...,...,...,...,...,...,...,...,...,...,...,...
10262,18077,25,Gustavus Adolphus,45.5250,40.1750,43.2500,43.9000,172.8500,2015,A,10.250
10263,18258,76,Winona State,46.9000,46.2750,46.3750,46.4000,185.9500,2015,A,0.000
10264,18805,26,Hamline,46.7750,45.5500,46.3500,46.3250,185.0000,2015,H,0.950
10265,18800,26,Hamline,44.5000,44.0000,42.7500,44.2250,175.4750,2015,A,0.000
10266,18073,25,Gustavus Adolphus,44.9000,40.9750,43.4000,45.2750,174.5500,2015,H,0.925

In [100]:
# Saving the team_results_data_df for easy access in later notebooks
team_results_data_df.to_pickle('../Data/Clean/team_results_data_df.pkl')

In [98]:
# Preview the dataframes
gymnasts_data_df
# This one needs rationalization

,gid,first_name,last_name,vault,bars,beam,floor,all_around,team_name,team_id,yr,vt_url,ub_url,bb_url,fx_url,meet_id
0,30950,Sierra,Ballard,None,None,9.2000,9.9000,None,LSU,34,2024,None,None,None,None,28977
1,30952,Haleigh,Bryant,9.9500,9.8750,9.9250,9.9250,39.6750,LSU,34,2024,None,None,None,None,28977
2,31947,Ashley,Cowan,None,9.8000,None,None,None,LSU,34,2024,None,None,None,None,28977
3,32453,Amari,Drayton,9.9250,None,None,9.9250,None,LSU,34,2024,None,None,None,None,28977
4,30953,Olivia,Dunne,None,None,None,9.8750,None,LSU,34,2024,None,None,None,None,28977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113695,23535,Jamie,Niedermayer,8.8000,None,8.5250,8.1750,None,Gustavus Adolphus,25,2015,None,None,None,None,18073
113696,23536,Jessica,Niedermayer,None,7.5750,8.5500,None,None,Gustavus Adolphus,25,2015,None,None,None,None,18073
113697,23537,Hilary,Sabourin,None,None,None,8.8000,None,Gustavus Adolphus,25,2015,None,None,None,None,18073
113698,23538,Kate,Schneider,8.8250,None,None,None,None,Gustavus Adolphus,25,2015,None,None,None,None,18073
113699,23539,Rachel,Thiner,None,None,9.0500,9.1750,None,Gustavus Adolphus,25,2015,None,None,None,None,18073

In [101]:
# Saving the gymnasts_data_df for easy access in later notebooks
gymnasts_data_df.to_pickle('../Data/Clean/gymnasts_data_df.pkl')

In [82]:
# Rationalize the gymnasts dataframe
pd.json_normalize(gymnasts_data_df['vault']).reset_index(drop=True)

KeyError: 'vault'